* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
}
.logo {
    margin-top: 5rem;
}

header .container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header .main-header__container {
    display: contents;
}
header .main-heade__txt {
    margin-left: 1rem;
}

main {
    padding: 20px;
}

.main-header__title {
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: #454546;
}

.main-nav {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 999;
    width: 100%;
}

.menu {
    z-index: 5;
    position: absolute;
    top: 280px;
    left: 0;
    background-color: #212121;
    width: 100%;
    list-style: none;
    padding: 0 10rem 0 10rem;
}

.menu__item {
    text-align: center;
}

.menu__link {
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    height: 40px;
}

.menu__link:hover {
    background-color: #ffffff;
    color: #212121;
}

.mostrar {
    opacity: 1;
    visibility: visible;
}

.icon-menu {
    height: 1.7em;
    border: 1px solid rgb(51, 48, 48);
    padding: 5px 7px;
    color: #454546;
    cursor: pointer;
}

.main-header__btn {
    border: 1px solid rgb(51, 48, 48);
    padding: 5px 12px;
    color: #454546;
    text-decoration: none;
}

.main-header__input {
    display: block;
    padding: 5px;
    width: 50%;
    max-width: 300px;
}

/* *****************************************slider****************************************** */
.container-slider {

    margin: 40px 20px;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    width: 400%;
    height: 250px;
    margin-left: -100%;
}

.slider:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.slider__section {
    width: 100%;
    position: relative;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    z-index: 99;
    color: rgba(7, 7, 7, 0.5);
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover {
    background-color: rgb(199, 196, 196);
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

.slider-content {
    z-index: 2;
    position: absolute;
    top: 0%;
    right: 50%;
    color: rgb(255, 255, 255);
    transform: translateX(50%);
    text-align: center;
}

.slider-title {
    font-size: 1.9em;
}

.btn-shop {
    display: block;
    border: 1px solid #ff4e00;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    width: 150px;
    margin: 20px auto;
    transition: all 0.5s;
}

.btn-shop:hover {
    background-color: #ff4e00;
    color: #ffffff;
}

/**********************************************************/
.container-editor {
    margin-top: 50px;
}

.container__text {
    text-align: center;
    background-color: #f3f2f2;
    padding: 20px;
    margin: 20px 0;
}

.testimonial__txt {
    color: #777;
}

.editor__item {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.editor__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editor__circle {
    width: 200px;
    height: 200px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 180px;
    right: 0;
    left: 350px;
    padding: 30px;
    padding-bottom: 80px;
    padding-right: 60px;
    text-align: center;
    transition: all 0.5s;
}

.editor__item:hover .editor__circle {
    transform: scale(1.2);
    top: 70px;
    right: 0;
    left: 170px;
}

.editor__item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    right: 0;
    background-color: rgba(253, 155, 155, 0.5);
    opacity: 0;
    transition: all 0.5s;
}

.tip {
    text-align: center;
}

.editor__item:hover::before {
    opacity: 1;
}

.tip .btn-shop {
    color: #333;
}

.tip .btn-shop:hover {
    color: rgb(255, 255, 255);
}

.main-footer {
    background-color: #151515;
    color: #ffffff;
    padding: 30px 20px;
}

.footer__title {
    border-bottom: 1px dotted #555;
    padding: 20px 20px;
}

.footer__txt {
    color: #555;
}

.footer__link {
    color: #555;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.footer__input {
    background-color: #151515;
    width: 100%;
    height: 20px;
    display: block;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 2px;
}

.copy {
    color: #555;
}

/************************* estilos para tablet*************************/
@media screen and (min-width: 440px) {
    .container-slider {
        max-width: 1200px;
    }

    .slider__section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider__section img {
        max-width: 780px;
    }

    .slider-content {
        margin-top: 70px;
    }
}

@media screen and (min-width: 740px) {
    .slider {
        height: 400px;
    }

    .editor__item {
        height: 300px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1000px;
        margin: auto;
    }

    .icon-menu {
        display: none;
    }

    .main-header .container--flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-header__title {
        width: 100%;
        font-size: 4em;
        margin: 0%;
        border-bottom: 1px solid #ccc;
    }

    .main-nav {
        visibility: visible;
        opacity: 1;
        width: 100%;
    }

    .menu {
        position: static;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: none;
    }

    .menu__link {
        color: #333;
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu__link:hover {
        background-color: #333;
        color: #ffffff;
    }

    .container-products {
        grid-template-columns: repeat(4, 1fr);
    }

    .text p {
        font-size: 1.2em;
    }

    .container__text h2 {
        font-size: 1.8em;
    }

    .container-editor {
        display: flex;
    }

    .container-editor {
        display: flex;
        justify-content: space-between;
    }

    .editor__item {
        width: 48%;
    }

    .main-footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 80px;
    }

    .copy {
        grid-column-start: span 4;
        text-align: center;
    }
}

footer,
footer a {
    min-width: 100vw;
    background-color: #262626;
    color: #93938c;
}

footer {
    padding: 100px 50px 0 50px;
    height: 100vh;
}

.container-footer {
    display: flex;
    justify-content: space-between;
}

.container-footer h3 {
    font-size: 1.6rem;
    color: #ffffff;
    margin-bottom: 3rem;
}

.container-footer div {
    margin-left: 5%;
}

footer p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

footer li {
    font-size: 1.2rem;
    list-style: none;
    margin-bottom: 2rem;
}

footer hr {
    margin-top: 5rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5rem;
    justify-items: center;
    margin-bottom: 5rem;
}

.cards div {
    width: 250px;
    height: 400px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 10px 10px 60px #bebebe,
        -10px -10px 60px #ffffff;
    
}

.cards div img {
    width: 100%;
    border-radius: 10px;
}
.cards div p {
    padding: 1rem;
    margin-top: 2rem;
}

@media (max-width: 800px) {
    .container-footer {
        display: flex;
        flex-direction: column;
    }
    .cards {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
    footer {
        height: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1200px;
    }
}